APP_NAME=goq
PORT=8080

DB_DRIVER=sqlite3
DB_DSN=data/goq.db

WORKER_COUNT=10
POLL_INTERVAL=500
HTTP_TIMEOUT=30

API_KEY=adsfasdfasdfasdfasdfafds

FIXTURE_FILE=build/fixture.json
LOG_FILE=logs/development.log