
# App
APP_NAME=goq
PORT=8080
VERSION=v1
MODE=production
LOGS_DIRECTORY=logs

# HTTP
HTTP_TIMEOUT=30
INTEGRATION_KEY=your_secret_integration_key_here

# Control Plane
DB_DSN=data/goq.db

# Message Plane
MESSAGES_DIR=data/messages
FIXTURE_FILE=build/fixture.json